# ===== Java =====
*.class
*.log
hs_err_pid*

# ===== Build =====
target/
build/
dist/
out/
.gradle/

# ===== IntelliJ =====
.idea/
*.iml

# ===== Eclipse =====
.project
.classpath
.settings/

# ===== NetBeans =====
nbproject/private/
nbbuild/
nbdist/

# NetBeans lock files
.LCK*

# ===== OS =====
.DS_Store
Thumbs.db
desktop.ini
*~
